version: "3.9"

services:
  mowgli_tattoo_app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_BASE_URL: "http://localhost:3001"
    container_name: mowgli_tattoo_app
    env_file:
      - .env.local
    environment:
      NODE_ENV: production
      PORT: 3001
    ports:
      - "3001:3001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always
