@tailwind base;
@tailwind components;
@tailwind utilities;

/* SPECIAL STYLE FOR HOME GALLERY */
@media (min-width: 1440px) {
  .gallery-item {
    transition: opacity 0.5s ease-in-out;
  }

  .gallery-container:has(.gallery-item:hover) .gallery-item:not(:hover) {
    opacity: 0.4;
  }
}
