@tailwind base;
@tailwind components;
@tailwind utilities;

/* SPECIAL STYLE FOR HOME GALLERY */
.gallery-item {
  transition: opacity 0.3s ease-in-out;
}

.gallery-container:has(.gallery-item:hover) .gallery-item:not(:hover) {
  opacity: 0.4;
}

/* ADD PADDING TO COVER THE NEW MOBILE SAFE AREA */
.header-mobile-safe-are {
  padding-top: env(safe-area-inset-top);
}
