@tailwind base;
@tailwind components;
@tailwind utilities;

/* SPECIAL STYLE FOR HOME GALLERY */
@media (min-width: 1440px) {
  .gallery-item {
    transition: opacity 0.3s ease-in-out;
  }

  .gallery-container:has(.gallery-item:hover) .gallery-item:not(:hover) {
    opacity: 0.4;
  }
}

/* TODO TEST MOBILE SUPPRIMER SI PAS BON */
/* main {
  padding: 0 max(env(safe-area-inset-right), 20px) 0
    max(env(safe-area-inset-left), 20px);
  background-color: #1e1e1e;
} */
